extends layout

block content
  h1= title
  p Welcome to 7Snake challenge made by Ruben Dessimoni, Thayná Oliveira and Guilherme Rosendo
  br
  p If the matrix have a pair of 7Snake,
  p Total items found: #{total}
  p Showing 1 pair: #{pair}
